*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Roboto', sans-serif;
	height:100%;
	margin-bottom: -60px;
}

h1, h2{
	text-align: center;

}

header {
	text-align: center;
}

header h1{
	clear:right;
}

.left_col{
	height: 100%;
	max-width: 25%;
	float:left;
	background: #1B5436;
}

.right_col{
	float: right;
	max-height: 100%;
	position: relative;
	min-width: 71%;
	max-width: 100%;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;
	margin-bottom: -40px;
}

.content{
	padding:25px 50px;
	border:2px solid;
	border-radius:25px;
	background-color: white;
	text-align: center;
	margin-top: 25%;
	margin-bottom: 25%;
}

.action_list{
	list-style-type: none;
	left:0px;
	bottom: 0px;
	width: 100%;
	background: #1B5436;
}

.action_list li {
	border: 1px solid #5A99AB;
	border-left: 0px;
	border-right: 0px;
	padding: 20px;
}

nav{
	float: left;
	margin-top: 50%;
	margin-left: 0px;
	margin-right: 2px;
	width: 100%;
	background: #1B5436;
	margin-bottom: -40px;
}

.logo{
	margin-left: auto;
	margin-right: auto;
}

footer{
	text-align: center;
	font-family: 'Ariel', sans-serif;
	background: #1B5436;
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 75%;
	max-width: 100%;
	height: 40px;
}

footer p {
}

a:link{
	color: #FFFFFF;
}

a:visited{
	color: #75A3A3;
}

ul {
	-webkit-padding-start: 0px;
}

html {
	height: 100%;
	min-width: 510px; /* because smaller causes nav wonkiness*/
}