<!DOCTYPE HTML PUBLIC 
  "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
  <HEAD>
    <TITLE>PDC WebTool</TITLE>
    <META HTTP-EQUIV="Content-Type" 
          CONTENT="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </HEAD>
  <BODY>
	<h1>Choose the analysis</h1><br> <ul>
	{%if filename%}
    	<li><a href="/csvfy/{{filename}}">JSON->CSV</a></li>
    	<li><a href="/keysums/{{filename}}">Get Keword sums</a></li>
    	<li><a href="/keysumsbyplayer/{{filename}}">Get Keword sums by player</a></li>
    	<li><a href="/plotvariable/{{filename}}">Get Plot Variable over time example</a></li>
    	<li><a href="/plotvariables/{{filename}}">Get Plot Variables example</a></li>
    	<li><a href="/upload">Upload new file</a></li>
    	</ul>
    	choose analysis or upload a new file
    {% else %}
    	I AM ERROR<br>
		Please return to the <a href = "/uploads">Uploads</a> page to upload a file.
    {% endif %}
	<br><br><br><br>
  </BODY>
  <footer>&copy; Play Data 2014 | Follow us on <a href="http://www.twitter.com/LearnPlayData">twitter</a></footer>
</HTML>