<!DOCTYPE HTML PUBLIC 
  "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
  <HEAD>
    <TITLE>PDC WebTool</TITLE>
    <META HTTP-EQUIV="Content-Type" 
          CONTENT="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </HEAD>
  <BODY>
	<h1>{{title}}</h1>
	<br>
	<pre>{{message}}</pre>
	<br>
	{%if imagePath%}
		<img src="/output/{{imagePath}}">
		<br>
	{% else %}
		
	{% endif %}
	<a href="/output/{{outputFilename}}">Download output file</a>
	<br>
	<a href="/analysis/{{filename}}">More analysis</a>
	<br><br><br><br>
  </BODY>
  <footer>&copy; Play Data 2014 | Follow us on <a href="http://www.twitter.com/LearnPlayData">twitter</a></footer>
</HTML>